<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update department</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4 th:text="#{update.of.department} + ' ' + ${departmentRequest.getName()} + ' ' + #{with} + ' id: ' + ${departmentRequest.getId()}">ID</h4>
    <br>

    <h6 th:text="#{name.of.department}">Change name</h6>

    <form th:method="PATCH" th:action="@{/department/{id}(id=${departmentRequest.getId()})}" th:object="${departmentRequest}">

        <div class="form-floating mb-2">
            <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="#{enter.new.department.name}">
            <label for="name" th:text="#{enter.new.department.name}">Change name of department:</label>
        </div>

        <input class="btn btn-success" type="submit" role="button" th:value="#{update.department}"/>
    </form>

    <br>
    <hr>

    <h4 th:text="#{professors.of.department}">Professors of department</h4>
    <h6 th:text="#{current.professors} + ':'">Current professors:</h6>

    <div th:if="${departmentProfessors.size > 0}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{first.name}">First name</th>
            <th scope="col" th:text="#{last.name}">Last name</th>
            <th scope="col" th:text="#{email}">Email</th>
            <th scope="col" th:text="#{remove.professor.from.department}">Remove from department</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="professor : ${departmentProfessors}">
            <tr>
                <th scope="row" th:text="${professor.getId()}"></th>
                <td th:text="${professor.getFirstName()}"> </td>
                <td th:text="${professor.getLastName()}"></td>
                <td th:text="${professor.getEmail()}"> </td>
                <td>
                    <form method="post" th:action="@{/department/{id}/remove/professor/(id=${departmentRequest.getId()})}">
                        <input type="hidden" name="idRemovingProfessor" th:value="${professor.getId()}">
                        <button class="btn btn-danger" type="submit" th:text="#{remove.professor.from.department}">Remove professor from department</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <div th:unless="${departmentProfessors.size > 0}">
        <text th:text="#{department.have.no.professors}"> This department have no professors yet </text>
    </div>
    <br>

    <h6 th:text="#{management} + ':'">Management:</h6>
    <form method="post" th:action="@{/department/{id}/assign/professor/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idNewProfessor">
            <option selected="" disabled="" value="" th:text="#{choose.professor.for.adding.to.department}">Choose professor for adding to department:</option>
            <div th:each="professor : ${anotherProfessors}">
                <option th:value="${professor.getId()}"
                        th:text="${professor.getScienceDegreeResponse()} + ', '
            + ${professor.getLastName()} + ' ' + ${professor.getFirstName()} + ' (ID: ' + ${professor.getId()} + ')'
            + ' ' + #{current.department} +': ' + ${professor.getDepartmentResponse().getName()}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-success" type="submit" th:text="#{add.professor.to.department}">Add professor to department</button>
    </form>
    <div th:if="${departmentProfessors.size > 0}">
    <form method="post" th:action="@{/department/{id}/remove/professor/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idRemovingProfessor">
            <option selected="" disabled="" value="" th:text="#{choose.professor.for.removing.from.department}">Choose professor for removing from department:</option>
            <div th:each="professor : ${departmentProfessors}">
                <option th:value="${professor.getId()}"
                        th:text="${professor.getScienceDegreeResponse() + ', '
            + professor.getLastName() + ' ' + professor.getFirstName() +
                            ' (ID: ' + professor.getId() + ')'}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-danger" type="submit" th:text="#{remove.professor.from.department}">Remove professor from this department</button>
    </form>
    </div>

    <hr>
    <br>

    <h4 th:text="#{courses.of.department}">Department courses</h4>
    <h6 th:text="#{current.courses} + ':'">Current courses:</h6>

    <div th:if="${departmentCourses.size > 0}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{remove.course.from.department}">Remove from department</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="course : ${departmentCourses}">
            <tr>
                <th scope="row" th:text="${course.getId()}"></th>
                <td th:text="${course.getName()}"> </td>
                <td>
                    <form method="post" th:action="@{/department/{id}/remove/course/(id=${departmentRequest.getId()})}">
                        <input type="hidden" name="idRemovingCourse" th:value="${course.getId()}">
                        <button class="btn btn-danger" type="submit" th:text="#{remove.course.from.department}">Remove course from department</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <div th:unless="${departmentCourses.size > 0}">
        <text th:text="#{department.have.no.courses}"> This department have no courses yet </text>
    </div>
    <br>

    <h6 th:text="#{management} + ':'">Management:</h6>
    <form method="post" th:action="@{/department/{id}/assign/course/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idNewCourse">
            <option selected="" disabled="" value="" th:text="#{choose.course.for.adding.to.department}">Choose course for adding to department:</option>
            <div th:each="course : ${anotherCourses}">
                <option th:value="${course.getId()}"
                        th:text="${course.getName()} + ' (ID: ' + ${course.getId()} + ')'
                        + ' ' + #{current.department} + ': ' + ${course.getDepartmentResponse().getName()}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-success" type="submit" th:text="#{add.course.to.department}">Add course to department</button>
    </form>
    <div th:if="${departmentCourses.size > 0}">
    <form method="post" th:action="@{/department/{id}/remove/course/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idRemovingCourse">
            <option selected="" disabled="" value="" th:text="#{choose.course.for.removing.from.department}">Choose course for removing from department:</option>
            <div th:each="course : ${departmentCourses}">
                <option th:value="${course.getId()}"
                        th:text="${course.getName() + ' (ID: ' + course.getId() + ')' }"> adding students </option>
            </div>
        </select>
        <button class="btn btn-danger" type="submit" th:text="#{remove.course.from.department}">Remove course from this department</button>
    </form>
    </div>

    <hr>
    <br>

    <h4 th:text="#{groups.of.department}">Department groups</h4>
    <h6 th:text="#{current.groups} + ':'">Current groups:</h6>

    <div th:if="${departmentGroups.size > 0}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{form.of.education}">From of education</th>
            <th scope="col" th:text="#{remove.group.from.department}">Remove from department</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="group : ${departmentGroups}">
            <tr>
                <th scope="row" th:text="${group.getId()}"></th>
                <td th:text="${group.getName()}"> </td>
                <td th:text="${group.getFormOfEducationResponse().getName()}"> </td>
                <td>
                    <form method="post" th:action="@{/department/{id}/remove/group/(id=${departmentRequest.getId()})}">
                        <input type="hidden" name="idRemovingGroup" th:value="${group.getId()}">
                        <button class="btn btn-danger" type="submit" th:text="#{remove.group.from.department}">Remove group from department</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <div th:unless="${departmentGroups.size > 0}">
        <text th:text="#{department.have.no.groups}"> This department have no groups yet </text>
    </div>
    <br>

    <h6 th:text="#{management} + ':'">Management:</h6>
    <form method="post" th:action="@{/department/{id}/assign/group/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idNewGroup">
            <option selected="" disabled="" value="" th:text="#{choose.group.for.adding.to.department}">Choose group for adding to department:</option>
            <div th:each="group : ${anotherGroups}">
                <option th:value="${group.getId()}"
                        th:text="${group.getName()} + ' (ID: ' + ${group.getId()} + ')'
                        + ' ' + #{current.department} + ': ' + ${group.getDepartmentResponse().getName()}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-success" type="submit" th:text="#{add.group.to.department}">Add group to department</button>
    </form>
    <div th:if="${departmentGroups.size > 0}">
    <form method="post" th:action="@{/department/{id}/remove/group/(id=${departmentRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idRemovingGroup">
            <option selected="" disabled="" value="" th:text="#{choose.group.for.removing.from.department}">Choose group for removing from department:</option>
            <div th:each="group : ${departmentGroups}">
                <option th:value="${group.getId()}"
                        th:text="${group.getName() + ' (ID: ' + group.getId() + ')' }"> adding students </option>
            </div>
        </select>
        <button class="btn btn-danger" type="submit" th:text="#{remove.group.from.department}">Remove group from this department</button>
    </form>
    </div>

</section>

</body>
</html>
