<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h1 th:text="#{page.about.header}">Description of the technologies used</h1>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>
    ...                         <BR>

</section>

</body>
</html>
