.themed-grid-col {
  padding: 0;
  margin: 0;
}

.themed-container {
  padding: 0;
  margin: 0;
}

.no-gutters {
  padding: 0;
  margin: 0;
  gutter: 0;
}

.row-no-gutters {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0;
  margin: 0;
  gutter: 0;
  display: flex;
  flex-wrap: wrap;
}