<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="#{student} + ': ' + ${student.getLastName()} + ' ' + ${student.getFirstName()}">Card title</h4>
            <p class="card-text" th:text="${'ID: ' + student.getId()}" >ID</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="#{email} + ': ' + ${student.getEmail()}">email</li>
            <li class="list-group-item" th:text="#{group} + ': ' + ${student.getGroupResponse().getName()} +
                            ' (ID: ' + ${student.getGroupResponse().getId()} + ')'">group</li>
            <li class="list-group-item"><a class="btn btn-info" th:href="@{/student/{id}/edit(id=${student.getId()})}" role="button" th:text="#{edit}">Edit</a></li>
            <li class="list-group-item">
                <form th:method="DELETE" th:action="@{/student/{id}(id=${student.getId()})}">
                    <input class="btn btn-danger" type="submit" th:value="#{delete}"/>
                </form>
            </li>
        </ul>
    </div>

</section>

</body>
</html>
