<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="#{department} + ': ' + ${department.getName()}">Card title</h4>
            <p class="card-text" th:text="${'ID: ' + department.getId()}" >ID</p>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="row justify-content-left">
                    <div class="col-2" th:text="#{professors.of.department} + ':' "> Professors of department: </div>
                    <div class="col-10">
                        <div th:if="${professors.size > 0}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" th:text="#{id}">Id</th>
                                    <th scope="col" th:text="#{first.name}">First name</th>
                                    <th scope="col" th:text="#{last.name}">Last name</th>
                                    <th scope="col" th:text="#{email}">Email</th>
                                    <th scope="col" th:text="#{more}">More</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div th:each="professor : ${professors}">
                                    <tr>
                                        <th scope="row" th:text="${professor.getId()}"></th>
                                        <td th:text="${professor.getFirstName()}"> </td>
                                        <td th:text="${professor.getLastName()}"></td>
                                        <td th:text="${professor.getEmail()}"> </td>
                                        <td> <a class="btn btn-secondary" th:href="@{/professor/{id}(id=${professor.getId()})}" role="button"
                                                th:text="#{go.to}">Go to</a> </td>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${professors.size > 0}">
                            <text th:text="#{department.have.no.professors}"> This department have no professors yet </text>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row justify-content-left">
                    <div class="col-2" th:text="#{courses.of.department} + ':' "> Courses of department: </div>
                    <div class="col-10">
                        <div th:if="${courses.size > 0}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}">Id</th>
                                <th scope="col" th:text="#{name}">Name</th>
                                <th scope="col" th:text="#{more}">More</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="course : ${courses}">
                                <tr>
                                    <th scope="row" th:text="${course.getId()}"></th>
                                    <td th:text="${course.getName()}"> </td>
                                    <td> <a class="btn btn-secondary" th:href="@{/course/{id}(id=${course.getId()})}" role="button"
                                            th:text="#{go.to}">Go to</a> </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                        </div>
                        <div th:unless="${courses.size > 0}">
                            <text th:text="#{department.have.no.courses}"> This department have no courses yet </text>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row justify-content-left">
                    <div class="col-2" th:text="#{groups.of.department} + ':' "> Groups of department: </div>
                    <div class="col-10">
                        <div th:if="${courses.size > 0}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}">Id</th>
                                <th scope="col" th:text="#{name}">Name</th>
                                <th scope="col" th:text="#{form.of.education}">From of education</th>
                                <th scope="col" th:text="#{more}">More</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="group : ${groups}">
                                <tr>
                                    <th scope="row" th:text="${group.getId()}"></th>
                                    <td th:text="${group.getName()}"> </td>
                                    <td th:text="${group.getFormOfEducationResponse().getName()}"> </td>
                                    <td> <a class="btn btn-secondary" th:href="@{/group/{id}(id=${group.getId()})}" role="button"
                                            th:text="#{go.to}">Go to</a> </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                        </div>
                        <div th:unless="${groups.size > 0}">
                            <text th:text="#{department.have.no.groups}"> This department have no groups yet </text>
                        </div>
                    </div>
                </div>
            </li>

            <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')">
            <li class="list-group-item"><a class="btn btn-info" th:href="@{/department/{id}/edit(id=${department.getId()})}"
                                           role="button" th:text="#{edit}">Edit</a></li>
            </div>

            <div sec:authorize="hasAuthority('DELETE_PRIVILEGE')">
            <li class="list-group-item">
                <form th:method="DELETE" th:action="@{/department/{id}(id=${department.getId()})}">
                    <input class="btn btn-danger" type="submit" th:value="#{delete}"/>
                    <text th:text="#{department.delete.warning}">Be careful! All professors of this department lose their department, same about courses and groups!</text>
                </form>
            </li>
            </div>
        </ul>
    </div>

</section>

</body>
</html>
