<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New form of lesson</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4>Registration of a new form of lesson</h4>

    <br>

    <form th:method="POST" th:action="@{/lesson/type}" th:object="${formOfLesson}">

        <div class="form-floating mb-3">
            <input type="text" th:field="*{name}" class="form-control" id="name of formOfLesson" placeholder="Choose name of new form of lesson:">
            <label for="name of formOfLesson">Choose name of new form of lesson:</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" th:field="*{duration}" class="form-control" id="duration of formOfLesson" placeholder="Choose duration of new form of lesson:">
            <label for="duration of formOfLesson">Choose duration of new form of lesson (in minutes):</label>
        </div>

        <input class="btn btn-success" type="submit" role="button" value="Add new form of lesson"/>

    </form>

</section>

</body>
</html>
