<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New lesson</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4>Registration of a new lesson</h4>

    <br>

    <form th:method="POST" th:action="@{/lesson}" th:object="${lesson}">

        <div class="form-floating mb-3">
            <input type="datetime-local" th:field="*{timeOfStartLesson}" class="form-control" id="timeOfStartLesson">
            <label for="timeOfStartLesson">Choose date and time of start lesson:</label>
        </div>
        <select class="form-select  mb-2" th:field="*{courseId}">
            <option selected="" value="0">Choose course of new lesson:</option>
            <div th:each="course : ${courses}">
                <option th:value="${course.getId()}" th:text="${course.getName()}"> Course </option>
            </div>
        </select>
        <select class="form-select  mb-2" th:field="*{groupId}">
            <option selected="" value="0">Choose group of new lesson:</option>
            <div th:each="group : ${groups}">
                <option th:value="${group.getId()}" th:text="${group.getName()}"> Group </option>
            </div>
        </select>
        <select class="form-select  mb-2" th:field="*{teacherId}">
            <option selected="" value="0">Choose professor of new lesson:</option>
            <div th:each="professor : ${professors}">
                <option th:value="${professor.getId()}" th:text="${professor.getScienceDegreeResponse() + ', '
            + professor.getLastName() + ' ' + professor.getFirstName() +
                            ' (ID: ' + professor.getId() + ')'}"> Professor </option>
            </div>
        </select>
        <select class="form-select  mb-2" th:field="*{formOfLessonId}">
            <option selected="" value="0">Choose form of new lesson:</option>
            <div th:each="formOfLesson : ${formsOfLesson}">
                <option th:value="${formOfLesson.getId()}" th:text="${formOfLesson.getName()}"> Form Of Lesson </option>
            </div>
        </select>

        <input class="btn btn-success" type="submit" role="button" value="Add new lesson"/>

    </form>

</section>

</body>
</html>
