<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update form of lesson</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4 th:text="#{update.of.form.of.lesson} + ' ' + ${formOfLessonRequest.getName()} + ' ' + #{with} + ' ID: ' + ${formOfLessonRequest.getId()}" >ID</h4>
    <br>

    <form th:method="PATCH" th:action="@{/lesson/type/{id}(id=${formOfLessonRequest.getId()})}" th:object="${formOfLessonRequest}">

        <h6 th:text="#{name.of.form.of.lesson}">Name of form of lesson</h6>
        <div class="form-floating mb-2">
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Change name of form of lesson:">
            <label for="name" th:text="#{enter.new.name.of.form.of.lesson}">Change name of form of lesson:</label>
            <div style='color:red' th:if="${#fields.hasErrors('name')}" th:text="#{error.of.size.two.fifty}">Error message</div>
        </div>

        <h6 th:text="#{duration.of.form.of.lesson}">Duration of form of lesson</h6>
        <div class="form-floating mb-2">
            <input type="number" th:field="*{duration}" class="form-control" id="duration" placeholder="Change duration of form of lesson:">
            <label for="duration" th:text="#{enter.new.duration.of.form.of.lesson}">Change duration of form of lesson:</label>
            <div style='color:red' th:if="${#fields.hasErrors('duration')}" th:text="#{error.of.form.of.lesson.duration}">Error message</div>
        </div>

        <input class="btn btn-success" type="submit" role="button" th:value="#{update.forms.of.lesson}"/>
    </form>

    <br>

</section>

</body>
</html>
