<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form of lesson</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="#{form.of.lesson} + ': ' + ${formOfLesson.getName()}">Card title</h4>
            <p class="card-text" th:text="${'ID: ' + formOfLesson.getId()}" >ID</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="#{duration} + ': ' + ${formOfLesson.getDuration() + ' ' +'min'}">email</li>
            <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')">
                <li class="list-group-item"><a class="btn btn-info" th:href="@{/lesson/type/{id}/edit(id=${formOfLesson.getId()})}" role="button" th:text="#{edit}">Edit</a></li>

            </div>
            <div sec:authorize="hasAuthority('DELETE_PRIVILEGE')">
                <li class="list-group-item">
                    <form th:method="DELETE" th:action="@{/lesson/type/{id}(id=${formOfLesson.getId()})}">
                        <input class="btn btn-danger" type="submit" th:value="#{delete}"/>
                        <text th:text="#{form.of.lesson.delete.warning}">Be careful, all lessons with current form of lesson will lose form of lesson</text>
                    </form>
                </li>
            </div>
        </ul>
    </div>

</section>

</body>
</html>
