<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groups</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <p class="h1" th:text="#{all.groups}">All groups</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{form.of.education}">Form of education</th>
            <th scope="col" th:text="#{department}">Department</th>
            <th scope="col" th:text="#{more}">More</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="group : ${groups}">
            <tr>
                <th scope="row" th:text="${group.getId()}"></th>
                <td th:text="${group.getName()}"> </td>
                <td th:text="${group.getFormOfEducationResponse().getName()}"></td>
                <td th:text="${group.getDepartmentResponse().getName()}"> </td>
                <td> <a class="btn btn-secondary" th:href="@{/group/{id}(id=${group.getId()})}" role="button" th:text="#{go.to}">Go to</a> </td>
            </tr>
        </div>
        </tbody>
    </table>

    <hr>

    <ul class="pagination pagination-lg flex-wrap justify-content-center">
        <li th:class="${liPreviousPageLabelStatus}">
            <a th:class="${aPreviousPageLabelStatus}" th:href="@{/group/?page={page}(page=${previousPage})}" th:text="#{previous.page}">Previous</a>
        </li>
        <li th:class="${liPreviousPageNumberStatus}">
            <a th:class="${aPreviousPageNumberStatus}" th:href="@{/group/?page={page}(page=${previousPage})}" th:text="${previousPage}">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <text class="page-link" th:text="${currentPage}" >currentPage</text>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/group/?page={page}(page=${nextPage})}" th:text="${nextPage}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/group/?page={page}(page=${nextPage})}" th:text="#{next.page}">Next</a>
        </li>
    </ul>

</section>

</body>
</html>
