<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

            <main class="form-signin text-center justify-content-center">
                <form>
                    <img class="mb-7" src="../../resources/png/university-logo.png" alt="" width="50" height="50">
                    <h1 class="h3 mb-3 fw-normal" th:text="#{please.sign.in}"> Please sign in </h1>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" th:text="#{email.address}">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword" th:text="#{password}">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" th:text="#{remember.me}">
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-success" type="submit" th:text="#{sign.in}">Sign in</button>
                </form>
            </main>

</section>

</body>
</html>
