<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update course</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4 th:text="#{update.of.course} + ' ' + ${courseResponse.getName()} + ' ' + #{with} + ' id: ' + ${courseResponse.getId()}" >ID</h4>
    <br>

    <form th:method="PATCH" th:action="@{/course/{id}(id=${courseResponse.getId()})}" th:object="${courseRequest}">
        <h6 th:text="#{name.of.course}">Name of course</h6>
        <div class="form-floating mb-2">
            <input type="text" th:field="*{name}" class="form-control" id="dateTime">
            <label for="dateTime" th:text="#{enter.new.course.name}">Enter new name of course</label>
            <div style='color:red' th:if="${#fields.hasErrors('name')}" th:text="#{error.of.size.two.fifty}">Error message</div>
        </div>

        <h6 th:text="#{department.of.course}">Department of course</h6>
        <select class="form-select  mb-2"  th:field="*{departmentId}" >
            <option selected=""  th:value="${courseResponse.getDepartmentResponse().getId()}"
                    th:text="#{current.department} + ': ' + ${courseResponse.getDepartmentResponse().getName()}">current department</option>
            <div th:each="department : ${departments}">
                <option th:value="${department.getId()}" th:text="${department.getName()}"> department </option>
            </div>
        </select>

        <input class="btn btn-success" type="submit" role="button" th:value="#{update.course}"/>
    </form>

    <br>
    <hr>

    <h4 th:text="#{teachers.of.course}">Course teachers</h4>
    <h6 th:text="#{current.teachers} + ':'">Current teachers:</h6>

    <div th:if="${teachersOfCourse.size > 0}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{first.name}">First name</th>
            <th scope="col" th:text="#{last.name}">Last name</th>
            <th scope="col" th:text="#{email}">Email</th>
            <th scope="col" th:text="#{remove.professor.from.course}">Remove professor from course teachers</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="teacher : ${teachersOfCourse}">
            <tr>
                <th scope="row" th:text="${teacher.getId()}"></th>
                <td th:text="${teacher.getFirstName()}"> </td>
                <td th:text="${teacher.getLastName()}"></td>
                <td th:text="${teacher.getEmail()}"> </td>
                <td>
                    <form method="post" th:action="@{/course/{id}/remove/professor/(id=${courseResponse.getId()})}">
                        <input type="hidden" name="idRemovingProfessor" th:value="${teacher.getId()}">
                        <button class="btn btn-danger" type="submit" th:text="#{remove.professor.from.course}">Remove professor from course</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <div th:unless="${teachersOfCourse.size > 0}">
        <text th:text="#{course.have.no.teachers}"> This course have no teachers yet </text>
    </div>
    <br>

    <h6 th:text="#{management} + ':'">Management:</h6>
    <form method="post" th:action="@{/course/{id}/assign/professor/(id=${courseResponse.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idNewProfessor">
            <option selected="" disabled="" value="" th:text="#{choose.professor.for.adding.to.course}">Choose professor for adding to course:</option>
            <div th:each="professor : ${notTeachersOfCourse}">
                <option th:value="${professor.getId()}"
                        th:text="${professor.getScienceDegreeResponse() + ', '
            + professor.getLastName() + ' ' + professor.getFirstName() +
                            ' (ID: ' + professor.getId() + ')'}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-success" type="submit" th:text="#{add.professor.to.course}">Add professor to course</button>
    </form>
    <div th:if="${teachersOfCourse.size > 0}">
    <form method="post" th:action="@{/course/{id}/remove/professor/(id=${courseResponse.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idRemovingProfessor">
            <option selected="" disabled="" value="" th:text="#{choose.professor.for.removing.from.course}">Choose professor for removing from course:</option>
            <div th:each="professor : ${teachersOfCourse}">
                <option th:value="${professor.getId()}"
                        th:text="${professor.getScienceDegreeResponse() + ', '
            + professor.getLastName() + ' ' + professor.getFirstName() +
                            ' (ID: ' + professor.getId() + ')'}"> adding students </option>
            </div>
        </select>
        <button class="btn btn-danger" type="submit" th:text="#{remove.professor.from.course}">Remove professor from course</button>
    </form>
    </div>

</section>

</body>
</html>
