<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update form of Education</title>
</head>

<body>

<section layout:fragment="header"> <div th:replace="templates/fragments/header.html"></div> </section>
<section layout:fragment="footer"> <div th:replace="templates/fragments/footer.html"></div> </section>
<section layout:fragment="sidebar"> <div th:replace="templates/fragments/sidebar.html"></div> </section>

<section layout:fragment="page-content">

    <h4 th:text="#{update.of.form.of.education} + ' ' + ${formOfEducationRequest.getName()} + ' ' + #{with} + ' ID: ' + ${formOfEducationRequest.getId()}" >ID</h4>
    <br>

    <form th:method="PATCH" th:action="@{/education/form/{id}(id=${formOfEducationRequest.getId()})}" th:object="${formOfEducationRequest}">

        <h6 th:text="#{name.of.form.of.education}">Name of form of education</h6>
        <div class="form-floating mb-2">
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Change name of form of education:">
            <label for="name" th:text="#{enter.new.name.of.form.of.education}">Change name of form of education:</label>
        </div>

        <input class="btn btn-success" type="submit" role="button" th:value="#{update.forms.of.education}"/>
    </form>

    <br>
    <hr>

    <h4 th:text="#{groups.of.current.form.of.education}">Groups current form of education</h4>
    <h6 th:text="#{current.groups} + ':'">Current groups:</h6>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}">Id</th>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{department}">Department</th>
            <th scope="col" th:text="#{remove.group.from.form.of.education}">Remove group from form of education</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="formOfEducationGroup : ${formOfEducationGroups}">
            <tr>
                <th scope="row" th:text="${formOfEducationGroup.getId()}"></th>
                <td th:text="${formOfEducationGroup.getName()}"> </td>
                <td th:text="${formOfEducationGroup.getDepartmentResponse().getName()}"></td>
                <td>
                    <form method="post" th:action="@{/education/form/{id}/remove/group/(id=${formOfEducationRequest.getId()})}">
                        <input type="hidden" name="idRemovingGroup" th:value="${formOfEducationGroup.getId()}">
                        <button class="btn btn-danger" type="submit" th:text="#{remove.group.from.form.of.education}">Remove group from form of education</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <br>

    <h6 th:text="#{management} + ':'">Management:</h6>
    <form method="post" th:action="@{/education/form/{id}/assign/group/(id=${formOfEducationRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idNewGroup">
            <option selected="" disabled="" value="" th:text="#{choose.group.for.adding.to.form.of.education}">Choose group for adding to this form of education:</option>
            <div th:each="notFormOfEducationGroup : ${notFormOfEducationGroups}">
                <option th:value="${notFormOfEducationGroup.getId()}"
                        th:text="${notFormOfEducationGroup.getName()} + ' (ID: ' + ${notFormOfEducationGroup.getId()} + ')'
                        +', ' + #{current.form.of.education} + ': ' + ${notFormOfEducationGroup.getFormOfEducationResponse().getName()}">
                </option>
            </div>
        </select>
        <button class="btn btn-success" type="submit" th:text="#{add.group.to.form.of.education}">Add group to current from of education course</button>
    </form>
    <form method="post" th:action="@{/education/form/{id}/remove/group/(id=${formOfEducationRequest.getId()})}" class="mb-2">
        <select class="form-select  mb-2" name="idRemovingGroup">
            <option selected="" disabled="" value="" th:text="#{choose.group.for.removing.from.form.of.education}">Choose group for removing to this form of education::</option>
            <div th:each="formOfEducationGroup : ${formOfEducationGroups}">
                <option th:value="${formOfEducationGroup.getId()}"
                        th:text="${formOfEducationGroup.getName() + ' (ID: ' + formOfEducationGroup.getId() + ')'}">
                </option>
            </div>
        </select>
        <button class="btn btn-danger" type="submit" th:text="#{remove.group.from.form.of.education}">Remove group to current from of education course</button>
    </form>

</section>

</body>
</html>
